body {
  text-align: center;
  margin: 0 auto;
}
body:focus {
  outline:none;
}
.hidden {
  display: none;
}

.jumbotron {
  margin: auto;
  width: 50%;
}
input {
  width: 100%;
  text-align: right;
  font-family: 'VT323', monospace;
  font-size: 30px;
  border-radius: 10px;
  padding-right: 10px;
  border: 2px solid lightsteelblue;
  background-color: rgb(204, 211, 204);
}
button {
  margin-top: 10px;
}
